<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center avatar">
        <img src="https://img.icons8.com/ultraviolet/80/000000/user.png" alt="avatar"
          class="img-fluid img-thumbnail">
        <div class="text-center">
          <label> Pankaj Bhushan </label>
        </div>
      </div>
      <hr>
      <form>
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="email" value="email@example.com">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group row">
            <label for="contact" class="col-sm-2 col-form-label">Contact</label>
            <div class="input-group col-sm-3">
                <input type="text" readonly class="form-control form-control-plaintext" id="contact" value="9177720880">
            </div>
            <div class="input-group-btn col-sm-1">
              <button class="btn btn-default" type="button">Update</button>
            </div>
          </div>
        </div>
        <div>
          <div class="form-group row">
              <label for="address" class="col-sm-2 col-form-label">Address</label>
              <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" id="address" 
                  value="Written by Jon Doe.
                  Visit us at:
                  Example.com
                  Box 564, Disneyland
                  USA" readonly>
              </div>
          </div>
        </div>
        <div>
          <div class="form-group row">
              <label for="location" class="col-sm-2 col-form-label">Work Location</label>
              <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" id="location" 
                  value="BDC6A" readonly>
              </div>
          </div>
        </div>
        <div>
          <div class="form-group row">
              <label for="location" class="col-sm-2 col-form-label">Drop Location</label>
              <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" id="location" 
                  value="Kormangala" readonly>
              </div>
          </div>
        </div>
        <div>
          <div class="form-group row">
              <label for="registrationStatus" class="col-sm-2 col-form-label">Registration Staus</label>
              <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" id="registrationStatus" 
                  value="Not registered!" readonly>
              </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
