<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 offset-md-4 text-center">
      <form class="form-signin" (ngSubmit)="onSignIn(f)" #f="ngForm">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="form-group">
          <label for="email" class="sr-only">Email address</label>
          <input type="email" id="email" name="email" 
            class="form-control" placeholder="Email address"
            ngModel required autofocus>
        </div>
        <div class="form-group">
          <label for="password" class="sr-only">Password</label>
          <input type="password" id="password" name="password"
          class="form-control" placeholder="Password"
          ngModel required>
        </div>
        <div class="form-group checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-md btn-dark btn-block" type="submit" [disabled]="!f.valid">Sign in</button>
    </form>
    <div class="text-center">
      <small class="text-muted">Don't have account yet? </small>
      <small>
        <a routerLink="/register" routerLinkActive="active">Register Now</a>
      </small>
    </div>
    </div>
  </div>
</div>
