<div class="container-fluid">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6">
          Contact Details: <br>
          Phone: 080-66254322 <br>
          Transport Helpdesk, <br>
          UB, BDC6A, <br>
          Dhivyashree Tech Park, <br>
          Whitefield - 560061
      </div>
      <div class="col-md-6">
          Central Helpdesk: <br>
          Phone: 040-12548963 <br>
          Toll-free: 1800-2020-4444 <br>
          Transport Helpdesk - India, <br>
          Mumbai - 430012
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-6">
        Need help? <br>
        <a href="#">Raise a ticket</a>
      </div>
      <div class="col-md-6 text-right">
          <a href="#">FAQs</a>
      </div>
    </div>
  </div>
</div>